# NOTE: To use Production, you must set a use case for Link.
# You can do this in the Dashboard under Link -> Link Customization -> Data Transparency:
# https://dashboard.plaid.com/link/data-transparency-v5

# PLAID
PLAID_CLIENT_ID=

# SANDBOX ONLY
PLAID_SECRET=  # sandbox
PLAID_ENV=

# # PRODUCTION ONLY
# # PLAID_SECRET=  # production new
# PLAID_SECRET=  # production old
# PLAID_ENV=production
# CAPITAL_ONE_ACCESS_TOKEN=
# DISCOVER_ACCESS_TOKEN=
# ROBINHOOD_ACCESS_TOKEN=
# CHASE_ACCESS_TOKEN=

PLAID_SANDBOX_REDIRECT_URI=
PLAID_REDIRECT_URI=
PLAID_PRODUCTS=transactions
PLAID_REQUIRED_IF_SUPPORTED_PRODUCTS=liabilities

# DJANGO
# django local superuser credentials
email=
password=
